.header{
    width: 100%;
    height: 50px;
    /* background-color: #4B5D67; */
    background-color: #316B83;
   position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.purple{
    background-color: #4C3575 !important;
}
.orange{
    background-color: #F24C4C  !important;
}
.pink{
    background-color: #FFC3C3  !important;
}
.green{
    background-color: #809A6F !important;
}
.blue{
    background-color: #646FD4 !important;
}
.turquoise{
    background-color: #82DBD8 !important;
}
.brown{
    background-color: #A64B2A !important;
}
.burgundy{
    background-color: #9C0F48 !important;
}
.blue2{
    background-color: #6867AC !important;
}
.black{
    background-color: #04293A !important;
}
.yellow{
    background-color: #FFCC1D  !important;
}

@media only screen and (max-width: 640px) {
    .header{
        height: 80px;
    }
}