<body>

    <app-header></app-header>
    <app-side-bar></app-side-bar>
    <div class="area-container">
      
      <div class="app">
     <!--  <router-outlet ></router-outlet> -->
      <app-flex-area *ngIf="isFlex"  (outputFromChild) = "receiveChildData($event)"  class="app"></app-flex-area> 
       <app-grid-area *ngIf="!isFlex" (outputFromChild) = "receiveChildData($event)" class="app"></app-grid-area> 
    </div>
      
      
    </div>
    <app-footer></app-footer>
  
  </body>
  
  
  
