<div class="grid-container">
    <div class="menu-items">
        <div [ngStyle]="{backgroundColor:'#4C3575'}" (click)="paint1()" ><p>Change Color</p></div>
        <div [ngStyle]="{backgroundColor:'#F24C4C'}" (click)="paint2()" ><p>Change Color</p></div>
        <div [ngStyle]="{backgroundColor:'#FFC3C3'}" (click)="paint3()"><p>Change Color</p></div>
        <div [ngStyle]="{backgroundColor:'#809A6F '}" (click)="paint4()"><p>Change Color</p></div>
        <div [ngStyle]="{backgroundColor:'#646FD4 '}" (click)="paint5()"><p>Change Color</p></div>
        <div [ngStyle]="{backgroundColor:'#82DBD8 '}" (click)="paint6()"><p>Change Color</p></div>
        <div [ngStyle]="{backgroundColor:'#A64B2A '}" (click)="paint7()"><p>Change Color</p></div>
        <div [ngStyle]="{backgroundColor:'#9C0F48'}" (click)="paint8()"><p>Change Color</p></div>
        <div [ngStyle]="{backgroundColor:'#6867AC '}" (click)="paint9()"><p>Change Color</p></div>
        <div [ngStyle]="{backgroundColor:'#04293A '}" (click)="paint10()"><p>Change Color</p></div>
        <div [ngStyle]="{backgroundColor:'#FFCC1D'}" (click)="paint11()"><p>Change Color</p></div>
    </div>
    
    <div class="main-area">
        <div class="title"><p>Two</p></div>
        <form class="form-area">
            <input #addText (input)="onInput(addText.value)" type="text">
            <input #addText2 (input)="onInput(addText2.value)" type="text">
            <input #addText3 (input)="onInput(addText3.value)"type="text">
            <input #addText4 (input)="onInput(addText4.value)" type="text">
        </form>
        <div class="buttons">
            <button [ngClass]="{'purple':toggle==1,'orange':toggle==2,'pink':toggle==3,'green':toggle==4,'blue':toggle==5,'turquoise':toggle==6,'brown':toggle==7,'burgundy':toggle==8,'blue2':toggle==9,'black':toggle==10,'yellow':toggle==11}" (click)="onReset()" [disabled]="clickReset" class="reset-button" role="button">RESET</button>
            <button [ngClass]="{'purple':toggle==1,'orange':toggle==2,'pink':toggle==3,'green':toggle==4,'blue':toggle==5,'turquoise':toggle==6,'brown':toggle==7,'burgundy':toggle==8,'blue2':toggle==9,'black':toggle==10,'yellow':toggle==11}" (click)="onSubmit()" [disabled]="clickSubmit" routerLink="/" class="submit-button" role="button">SUBMIT</button>
        </div>
    </div>
</div>
